.container{
    border:solid black 1px;
    height: 700px;
    background-color: blanchedalmond;
    width: 504px;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 30px;
    grid-template-columns: 1fr;
    grid-gap: 4px;

    grid-template-areas: 
    "hd "
    "side"
    " main"
    "ft ";
}
.box{
    background-color: azure;
    border: solid black 1px;


}
#header{
    grid-area:hd;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
}
#footer{
    grid-area:ft;
}